body {
    margin: 0px;
    padding: 0px;
    /*background-image: url("../img/Red-Funky-Wallpaper-21.jpg");*/
    background-color: #5f0202;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .calculette {
    /*Placement*/
    margin: auto;      
    padding: 2%;
    width: 420px;
    height: 650px;
    /*transform: translateX(-50%) translateY(-50%);*/
    /*Design*/
    background-image: url("../img/bois\ inc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px solid rgba(0, 0, 0, 0.678);
    border-radius: 30px ;
    
  }
  /*
  .button {
    width: 70px;
    height: 70px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border: none;
  }*/

  /*  Division button  */
  #chs {
    /*background-color: rgba(0, 0, 0, 0.836);
    border-radius: 3px;*/
    color: rgb(250, 233, 1);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #chs1 {
    /*background-color: rgba(0, 0, 0, 0.836);
    border-radius: 3px;*/
    color: rgb(250, 233, 1);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #other {
    background-color: rgba(255, 8, 8, 0.575);
    width: 70px;
    height: 70px;
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #other1 {
    background-color: rgba(255, 8, 8, 0.575);
    width: 95px;
    height: 70px;
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #chs:hover {
    /*background-color: rgba(201, 95, 25, 0.651);
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);*/
    color: rgb(0, 0, 0);
  }
  #other:hover {
    background-color: rgb(255, 239, 8);
    border: 3px solid black;
    width: 95px;
    transition: 0.2s;
  }
  #other1:hover {
    background-color: rgb(255, 239, 8);
    border: 3px solid black;
    width: 95px;
  }
  /*  Input texte  */
  .nbRview {
    /*  direction: rtl; */
    /*background-image: radial-gradient(rgb(241, 238, 10), rgb(255, 2, 2)) ;
    */
    text-align: right;
    margin: 5px;
    width: 390px;
    height: 80px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid rgba(0, 0, 0, 0.123); 
    border-radius: 30px;
    background-color: rgba(251, 255, 0, 0.678);
}
.nbRview1 {
  /*  direction: rtl; */
  /*background-image: radial-gradient(rgb(241, 238, 10), rgb(255, 2, 2)) ;
  */
  text-align: right;
  margin: 0px;
  width: 390px;
  height: 30px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 3px solid rgba(0, 0, 0, 0.123); 
  border-radius: 30px;
  background-color: rgba(251, 255, 0, 0.678);
}
